@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Minecraft';
    src: url('/fonts/MinecraftRegular-Bmg3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Minecraft", "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    @apply font-bold text-6xl text-center mb-4;
}

h2 {
    @apply font-bold text-4xl text-center;
}

.inventory {
    @apply gap-2 bg-[#C6C6C6] w-fit mx-auto p-4 border-white border-8 rounded-md;
}

.inventory .item {
    box-shadow: white 5px 5px 1px;
}

.squared-image {
    @apply rounded-xl;
  }
  
.username {
    @apply text-lg text-ellipsis overflow-hidden uppercase;
}
