@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

@font-face {
    font-family: 'Minecraft';
    src: url('/fonts/MinecraftRegular-Bmg3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

* {
    font-family: "Minecraft", "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    @apply font-bold text-6xl text-center mb-4;
}

h2 {
    @apply font-bold text-4xl text-center;
}

.minecraft-item{
    @apply w-[10rem] aspect-square;
}

.inventory {
    @apply grid grid-cols-9 gap-1 bg-gray-100;
}

.inventory li {
    @apply border-white border-4 bg-gray-300 inset-0 drop-shadow-md w-[100%] h-[100%] whitespace-normal line-clamp-2;
}

.item-count {
    @apply fixed bottom-2 right-2 text-4xl text-white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

